@{
   Layout=null;
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from demos.creative-tim.com/paper-kit-2-pro/sections.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Mar 2019 21:25:04 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="~/assets/img/fav/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Circle 25
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Canonical SEO -->

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="../../maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/assets/css/paper-kit.mindc68.css?v=2.3.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="~/assets/demo/demo.css" rel="stylesheet" />
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body class="sections-page sidebar-collapse">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top nav-down">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" rel="tooltip" title="Circle 25" data-placement="bottom" target="_blank">
         <img src="../assets/img/logo.png" style="width:33%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="./~/assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="javascript:void(0)" id="navhome" class=" nav-link"  aria-expanded="false">
              Home </a>
            <!-- <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="index.html" class="dropdown-item">
                All Components
              </a>
              <a href="presentation.html" class="dropdown-item">
                Presentation
              </a>
              <a href="docs/1.0/getting-started/introduction.html" class="dropdown-item">
                Documentation
              </a>
            </div> -->
          </li>
           <li class="nav-item">
            <a href="javascript:void(0)" id="navaboutus" class=" nav-link"  aria-expanded="false">
              About Us </a>
           
          </li>
           <li class="nav-item">
            <a href="javascript:void(0)" class=" nav-link" id="navservice"  aria-expanded="false">
              Services </a>
           
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" id="navpricing" class=" nav-link"  aria-expanded="false">
              Pricing </a>
           
          </li>
          <!-- <li class="nav-item">
            <a href="#" class=" nav-link"  aria-expanded="false">
              Events </a>
           
          </li> -->
         
          <li class="nav-item">
            <a class="btn btn-round btn-success" href="javascript:void(0)" id="navcontact">
              <i class="nc-icon nc-tap-01"></i> Join Now
            </a>
          </li>
       
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="section-space"></div>
  <div class="section section-header cd-section" id="headers">
    <!--     *********     HEADER 1      *********      -->
    <div class="header-1"></div>
      
      <div class="page-header" style="background-image: url('../assets/img/sections/business.jpg');">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="row">
             
              <div class="col-md-12  ml-auto">
                <h1 class="title" style="font-size: 4.0em;
    font-weight: 800;">Providing Entrenuers with loans</h2>
                 <h3 class="text-center" style="font-size: 1.825em;
    line-height: 1.4;
    margin: 20px 0 0;
    font-weight: 400;">africa's first all-in-one support
community for millennial Entrepreneurs
with early-stage businesses. </h3>
                <br />
                <a  id="navcontactbtn" class="btn btn-success">
                  <i class="nc-icon nc-tap-01"></i> Join Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   
   
  </div>
  <div class="section section-feature cd-section" id="features">
    <!--     *********     FEATURES 1      *********      -->
    <div class="features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Why our product is the best</h2>
            <h5 class="description">A community that provides African entrepreneurs with resources to START, RUN and GROW successful businesses.</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-bulb-63"></i>
              </div>
              <div class="description">
                <h4 class="info-title">New Ideas</h4>
                <p class="description">Training, workshops, mentoring.</p>
                <a href="#pkp" class="btn btn-link btn-success">See more</a>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-user-run"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Run</h4>
                <p>Funding, Networking, Advisory.</p>
                <a href="#pkp" class="btn btn-link btn-success">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Partnership & investment</h4>
                <p>Partnership & investment.</p>
                <a href="#pkp" class="btn btn-link btn-success">See more</a>
              </div>
            </div>
          </div>
         
         
        </div>
      </div>
    </div>
      
    <!--     *********     FEATURES 5      *********      -->
    <div id="service" class="features-5 section-image" style="background-image: url('~/assets/img/sections/the-how-photographer.jpg')">
      <div class="container">
        <div class="row">
          <div class="ml-auto mr-auto">
            <h2 class="title text-center">Our Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 ml-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-book-bookmark" aria-hidden="true"></i>
              </div>
              <h4 class="title">Training / Workshops</h4>
              <p>We organize monthly entrepreneurial training & workshops that are facilitated by seasoned entrepreneurs who are influential in their industries. Our goal is to help our members in areas that are vital to the growth of their businesses.</p>
            </div>
          </div>
          <div class="col-sm-5 mr-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-satisfied" aria-hidden="true"></i>
              </div>
              <h4 class="title">Advisory / Mentoring:</h4>
              <p>The role of a mentor/advisor cannot be overemphasized, that is why we organize mentorship events which is a way for registered entrepreneurs to meet with accomplished leaders, who can advise and guide them through their entrepreneurial journey.</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-5 ml-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-single-02" aria-hidden="true"></i>
              </div>
              <h4 class="title">Accountability Coach</h4>
              <p>Subscribed members get an assigned coach to help them meet their monthly business goals.</p>
            </div>
          </div>
          <div class="col-sm-5 mr-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-money-coins" aria-hidden="true"></i>
              </div>
              <h4 class="title">Operating (Invoice) Loan</h4>
              <p>We offer members with a good credit score, up to $10,000 operating (invoice) loan for a year.</p>
            </div>
          </div>
        </div>

        <div class="row bottom-line">
          <div class="col-sm-5 ml-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-globe" aria-hidden="true"></i>
              </div>
              <h4 class="title">Networking</h4>
              <p>We introduce members to a vast pool of networks across the eco-system, for partnerships, collaborations, and investments.</p>
            </div>
          </div>
          <div class="col-sm-5 mr-auto">
            <div class="info">
              <div class="icon">
                <i class="nc-icon nc-bank" aria-hidden="true"></i>
              </div>
              <h4 class="title">Operating (Invoice) Loan</h4>
              <p>We partner with key service providers in the eco-system to get up to 10% discount on their services for our members.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END FEATURES 5      *********      -->
  </div>
  <!-- <div class="section secion-blog cd-section" id="blogs">
   
    <div class="blog-5">
      <div class="container">
        <h2 class="title text-center">Your Latest Blogpost 5</h2>
        <div class="row">
          <div class="col-md-7">
            <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/uriel-soberanes.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Lifestyle</h6>
                <a href="#pablo">
                  <h3 class="card-title">Twenty-Something Travel - Virtual Wayfarer</h3>
                </a>
                <p class="card-description">
                  As happens in most of these hearings so far, that argument led to a back-and-forth between Uber and Waymo’s lawyers over the pre-trial discovery...
                </p>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="~/assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                      <span>Lynne Barrett</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/forest-bg.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Media</h6>
                <a href="#pablo">
                  <h3 class="card-title">The aesthetic quality of a product</h3>
                </a>
                <p class="card-description">
                  It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of the user’s intuition.
                </p>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="~/assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                      <span>Eric J Barnes</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/pavel-kosov.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i>Design</h6>
                <a href="#pablo">
                  <h3 class="card-title">“Good Design”</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Jay-z...
                </p>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="~/assets/img/faces/kaci-baum-2.jpg" alt="..." class="avatar img-raised">
                      <span>Patricia Beatty</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/ilya-yakover.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Development</h6>
                <a href="#pablo">
                  <h3 class="card-title">In need of a good development</h3>
                </a>
                <p class="card-description">
                  Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.
                </p>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="~/assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                      <span>Robert Brandon</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/vincent-versluis.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Technology</h6>
                <a href="#pablo">
                  <h3 class="card-title">A Little Adrift</h3>
                </a>
                <p class="card-description">
                  But from the perspective of founders, there’s bound to be some confusion. In an ideal world we will see a meeting of the minds
                </p>
                <div class="card-footer">
                  <div class="author">
                    <a href="#pablo">
                      <img src="~/assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                      <span>Ayo Michael</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div> -->
<!--  
  <div class="section section-project cd-section" id="projects">
   
      <div class="project-4 section section-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Some of Our Awesome Projects - 4</h2>
              <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
            </div>
          </div>
          <div class="space-top"></div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/sebastien-gabrieles.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-mobile"></i>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category">Technology</h6>
                  <a href="#pablo">
                    <h3 class="card-title">The need of a great product</h3>
                  </a>
                  <p class="card-description">Artificial intelligence-focused investment funds are a dime a dozen these days. Everyone knows there’s money to be made from AI, but to capture value, good VCs know they need to back products and not technologies.</p>
                  <div class="card-footer">
                    <a href="#pablo" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Read More
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-apple" aria-hidden="true"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-android" aria-hidden="true"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-windows" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <hr />
          <br/>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-plain">
                <div class="card-body">
                  <h6 class="card-category">Design</h6>
                  <a href="#pablo">
                    <h3 class="card-title">The aesthetic quality of a product</h3>
                  </a>
                  <p class="card-description">Eventually, the data collected from the grant program could allow the two to play a bit of machine learning moneyball — valuing machine learning engineers without traditional metrics (like having a PhD from Stanford)...</p>
                  <div class="card-footer">
                    <a href="#pablo" class="btn btn-link btn-neutral">
                      <i class="fa fa-book" aria-hidden="true"></i> Read More
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-apple" aria-hidden="true"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-android" aria-hidden="true"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral">
                      <i class="fa fa-windows" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card" data-background="image" style="background-image: url('~/assets/img/sections/john-towner.jpg')">
                <div class="card-icon">
                  <i class="nc-icon nc-controller-modern"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div> -->
  <div class="section section-pricing cd-section" id="pricing">

    <div class="pricing-4 section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2>Pricing</h2>
            <!-- <h2 class="title">Pick the best plan for you</h2>
            <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5> -->
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-4">
            <div class="card card-pricing card-plain">
              <div class="card-body">
                <h6 class="card-category text-success">Startup</h6>
                <h1 class="card-title">₦950/M</h1>
                <ul class="text-white">
                  <li><i class="fa fa-check" aria-hidden="true"></i> 10 annual access to all events.</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Annual Access to resources & partners discounted services</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Access to all members of the community.</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Access up to $3,000 funding (Operating Loan)</li>
                </ul>
                <a href="#pablo" class="btn btn-outline-neutral btn-round">Choose plan</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing">
              <div class="card-body">
                <h6 class="card-category text-success">Small company</h6>
                <h1 class="card-title">₦2000/M</h1>
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 12 annual access to all events (training, workshop and masterclass).</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Access to networking events to meet with like-minded entrepreneurs & investors.</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Access to mentoring.</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Annual Access to resources & partners discounted services.</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Access to all members of the community.</li>
                     <li><i class="fa fa-times" aria-hidden="true"></i> Access up to $10,000 funding (Loan, Equity investment).</li>
                </ul>
                <a href="#pablo" class="btn btn-outline-success btn-round">Recommended plan</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing card-plain">
              <div class="card-body">
                <h6 class="card-category text-success">Large Company</h6>
                <h1 class="card-title">₦5000/M</h1>
                <ul class="text-white">
                  <li><i class="fa fa-check" aria-hidden="true"></i> 12 annual access to all events (training, workshop and masterclass).</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Access to networking events to meet with like-minded entrepreneurs & investors.</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Access to mentoring.</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Annual Access to resources & partners discounted services.
</li>
<li><i class="fa fa-times" aria-hidden="true"></i> Access to all members of the community.</li>
<li><i class="fa fa-times" aria-hidden="true"></i> Access up to $20,000 funding (Loan, Equity investment or Grant).</li>
                </ul>
                <a href="#pablo" class="btn btn-outline-neutral btn-round">Choose plan</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
   
  </div>
  
  <div class="section section-contactus cd-section" id="contact-us">
   
    <div class="contactus-1 section-image" style="background-image: url('~/assets/img/sections/soroush-karimi.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-contact no-transition">
              <h3 class="card-title text-center">Contact Us</h3>
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="card-body">
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Find us at the office</h4>
                        <!-- <p> Bld Mihail Kogalniceanu, nr. 8, -->
                          <br> Lagos, 
                          <br> Nigeria
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-danger">
                        <i class="nc-icon nc-badge" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Give us a ring</h4>
                        <p> Customer Support
                          <br>
                          info@circle25.org
                          <!-- <br> +40 762 321 762
                          <br> Mon - Fri, 8:00-22:00 -->
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 mr-auto">
                  <form role="form" id="contact-form" method="post">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">First name</label>
                            <input type="text" name="name" class="form-control" placeholder="First Name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group label-floating">
                            <label class="control-label">Last name</label>
                            <input type="text" name="name" class="form-control" placeholder="Last Name">
                          </div>
                        </div>
                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label">Email address</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" />
                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label">Your message</label>
                        <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value=""> I'm not a robot !
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
   
  </div>
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#headers" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Headers</span>
        </a>
      </li>
      <li>
        <a href="#features" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
    
      <li>
        <a href="#service" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Services</span>
        </a>
      </li>
      
      <li>
        <a href="#pricing" data-number="6">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      
      <li>
        <a href="#contact-us" data-number="8">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Us</span>
        </a>
      </li>
    </ul>
  </nav>
  <footer class="footer footer-black  footer-white ">
    <div class="container">
      <div class="row">
        <!-- <nav class="footer-nav">
          <ul>
            <li>
              <a href="" target="_blank">Creative Tim</a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
            </li>
          </ul>
        </nav> -->
        <!-- Copyright © 2019 Circle25.org | All Rights Reserved -->
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>,  <i class="fa fa-heart heart"></i> Circle25.org | All Rights Reserved
          </span>
        </div>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="~/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="~/assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="~/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="~/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="~/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="~/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Vertical nav - dots -->
  <script src="~/assets/demo/vertical-nav.js" type="text/javascript"></script>
  <!--  Photoswipe files -->
  <script src="~/assets/js/plugins/photo_swipe/photoswipe.min.js"></script>
  <script src="~/assets/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script>
  <script src="~/assets/js/plugins/photo_swipe/init-gallery.js"></script>
  <!--  for Jasny fileupload -->
  <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
  <script src="~/assets/js/paper-kit.mindc68.js?v=2.3.0" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <!--  Plugin for presentation page - isometric cards  -->
  <script src="~/assets/js/plugins/presentation-page/main.js"></script>
  <!-- Sharrre libray -->
  <script src="~/assets/demo/jquery.sharrre.js"></script>
  <script>
    $(document).ready(function() {

      $('#navpricing').click(function(){

       var elementPosition = $('#pricing').offset().top
      $('html,body').animate({scrollTop: elementPosition},'slow');      
      });
       $('#navhome').click(function(){

       var elementPosition = $('#headers').offset().top
      $('html,body').animate({scrollTop: elementPosition},'slow');      
      });

      $('#navaboutus').click(function(){

        var elementPosition = $('#features').offset().top
        $('html,body').animate({scrollTop: elementPosition},'slow');      
      });
      $('#navservice').click(function(){

        var elementPosition = $('#service').offset().top
        $('html,body').animate({scrollTop: elementPosition},'slow');      
      });
       $('#navcontact').click(function(){

        var elementPosition = $('#contact-us').offset().top
        $('html,body').animate({scrollTop: elementPosition},'slow');      
      });
       $('#navcontactbtn').click(function(){

        var elementPosition = $('#contact-us').offset().top
        $('html,body').animate({scrollTop: elementPosition},'slow');      
      });
      //navaboutus

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46172202-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

      // Facebook Pixel Code Don't Delete
      ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window,
        document, 'script', '../../connect.facebook.net/en_US/fbevents.js');

      try {
        fbq('init', '111649226022273');
        fbq('track', "PageView");

      } catch (err) {
        console.log('Facebook Track Error:', err);
      }

    });
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
  </noscript>
  <script>
    $(document).ready(function() {

      $sidebar = $('.sidebar');
      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');
      sidebar_mini_active = true;

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      // if( window_width > 767 && fixed_plugin_open == 'Dashboard' ){
      //     if($('.fixed-plugin .dropdown').hasClass('show-dropdown')){
      //         $('.fixed-plugin .dropdown').addClass('show');
      //     }
      //
      // }

      $('.fixed-plugin a').click(function(event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-active-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('data-active-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-active-color', new_color);
        }
      });

      $('.fixed-plugin .background-color span').click(function() {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function() {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function() {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').on("switchChange.bootstrapSwitch", function() {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });


      $('.switch-mini input').on("switchChange.bootstrapSwitch", function() {
        $body = $('body');

        $input = $(this);

        if (paperDashboard.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          paperDashboard.misc.sidebar_mini_active = false;

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

        } else {

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

          setTimeout(function() {
            $('body').addClass('sidebar-mini');

            paperDashboard.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);

      });

    });
  </script>
  <script>
    $(document).ready(function() {
      if (window_width >= 768) {
        $(window).on('scroll', pk.checkScrollForPresentationPage);
      }

      // Javascript method's body can be found in ~/assets/js/core/partials/_demo-object.js
      demo.initContactUsMap2();
    });
  </script>
</body>

</html>